@page "/appsettings/";
@inject NavigationManager NavManager;
<h3>AppSettings</h3>

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="appsettings/appsettings/account/">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Account settings
    </NavLink>
</div>

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="fetchdata">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Language settings
    </NavLink>
</div>

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="fetchdata">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Inne ustawienia
    </NavLink>
</div>

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="fetchdata">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Inne ustawienia
    </NavLink>
</div>

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="dashboard">
        <span class="oi oi-arrow-thick-left" role="status" aria-hidden="true"></span>
        Back
    </NavLink>
</div>

@code {
}
