@page "/dashboard"
@using Actively.Models

<h1>Hello, world!</h1>

Welcome to your new app.

<img src="@Settings.UserBasicDetail.UserAvatar" height="50" width="50" class="rounded-circle" />

@Settings.UserBasicDetail.UserName

