@page "/appsettings/appsettings/account/changepassword";
<h3>ChangePassword</h3>

<div class="form-group">
    <label>First Name</label>
    <input class="form-control" placeholder="Enter First Name">
</div>
<div class="form-group">
    <label>First Name</label>
    <input class="form-control" placeholder="Enter First Name">
</div>
<div class="form-group">
    <label>First Name</label>
    <input class="form-control" placeholder="Enter First Name">
</div>
<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="/appsettings/appsettings/account">
        <span class="oi oi-arrow-thick-left" role="status" aria-hidden="true"></span>
        Back
    </NavLink>
</div>
@code {

}
