@page "/appsettings/appsettings/account/";
<h3>Account settings</h3>

@*<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="account/">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Change avatar
    </NavLink>
</div>*@

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="/appsettings/appsettings/account/changepassword">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Change password
    </NavLink>
</div>

@*<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="fetchdata">
        <span class="oi oi-person" role="status" aria-hidden="true"></span>
        Set email two-factor authorization
    </NavLink>
</div>*@

<div class="text-center mt-2">
    <NavLink class="btn btn-primary" href="/appsettings/">
        <span class="oi oi-arrow-thick-left" role="status" aria-hidden="true"></span>
        Back
    </NavLink>
</div>

@code {

}
